@{
  Layout = "_Layout";
}

@model BestRestaurants.Models.Restaurant

<h4>Add a new Restaurant</h4>
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)
    @Html.LableFor(model => model.Description)
    @Html.TextBoxFor(model => model.Description)
    @Html.LabelFor(model => model.Pricerange)
    @Html.TextBoxFor(model => model.Pricerange)
    <input type="submit" value="Add new restaurant" />
}
<p>@Html.ActionLink("Show all Restaurant", "Index")</p>